<!DOCTYPE html>
<html>
<head>
	<title>Download Page</title>
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
		h1{
			font-family: 'Lobster', cursive;
		}
	</style>
</head>
<body>
<table width="100%">
	<tr><td align="center"><h1>Download Our AKRG COLLEGE APP From Here!!!!!</h1></td></tr>
	<tr><td align="center"><img src="{{url_for('static',filename = 'images/logo.png')}}" height="450px" width="450px"></td></tr>
	<tr><td align="center"><a href = "{{url_for('static',filename = 'app-universal-debug (1).7z.001')}}" download="akrg college app"><img src="{{url_for('static',filename = 'images/dwd.png')}}" width="350px" height="350px"></a></td></tr>
</table>
</body>
</html>
