<!DOCTYPE html>
<html>
<head>
	<title>Download Page</title>
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
		h1{
			font-family: 'Lobster', cursive;
		}
	</style>
</head>
<body>
<table width="100%">
	<tr><td align="center" colspan="4" width="100%"><h1>Download Our AKRG COLLEGE APP From Here!!!!!</h1></td></tr>
	<tr><td align="center" colspan="4" width="100%"><img src="{{url_for('static',filename = 'images/mainlogo.png')}}" width="30%;" ></td></tr>
	<tr><td align="center" colspan="4" width="100%"><a href = "{{url_for('static',filename = 'app-universal-debug (1).7z')}}" download="akrg college app"><img src="{{url_for('static',filename = 'images/dwd.png')}}" width="300px;"></a></td></tr>
	<tr><td colspan="4" width="100%"><h2>Instructions to Download the file</h2></td></tr>
	<tr><td align="center" width="25%">
<img src="{{url_for('static',filename = 'images/wsp0.jpeg')}}" width="100px;"></td>
		<td align="center" width="25%"><img src="{{url_for('static',filename = 'images/wsp1.jpeg')}}" width="100px;"></td>
			<td align="center" width="25%">
<img src="{{url_for('static',filename = 'images/wsp2.jpeg')}}" width="100px;"></td>
		<td align="center" width="25%"><img src="{{url_for('static',filename = 'images/wsp3.jpeg')}}" width="100px;"></td>
</tr>
<tr><td colspan="4" height="40px"></td></tr>
<tr><td colspan="4" align="center">Extract The File Using ZArchiever</td></tr>
<tr><td colspan="4" align="center">You can download it from </td></tr>
<tr><td  colspan="4" align="center"><a href= "https://play.google.com/store/apps/details?id=ru.zdevs.zarchiver&hl=en_IN&gl=US"><img src="{{url_for('static',filename = 'images/pstore.png')}}" width="300px;"></a></td></tr>
<tr><td align="center" colspan="4">--------OR-------</td></tr>
<tr><td align="center" colspan="4" width="100%"><a href = "{{url_for('static',filename = 'ZArchiver_v0.9.4.apk')}}" download="ZArchiever"><img src="{{url_for('static',filename = 'images/dwd.png')}}" width="300px;"></a></td></tr>
</table>
</body>
</html>

